/* 
    palmhost | https://github.com/star-arts-ll/palmhost 
    style resource   
*/
:root {
    --background-color: #141c33;
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;
    --spacing-unit: 8px;

    background-color: var(--background-color);
} 